
<div class="container">
    <h2>Chrono moyen par tour par course</h2>
    <div class="row justify-content-center">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <!-- Nom de la course -->
                        </th>
                        <th>
                            <!-- Chrono -->
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <!-- █foreach (var item in Model...) -->
                    <!--{-->
                    <tr>
                        <td>
                            <!-- Nom de la course -->
                        </td>
                        <td>
                            <!-- Chrono -->
                        </td>
                    </tr>
                    <!--}-->
                </tbody>
            </table>
        </div>
    </div>

</div>
